#toc-tree span.dynatree-has-children.dynatree-ico-c span.dynatree-icon {
  background: url('tree-images/heading-c.png?13daa347') no-repeat 0 0;
}
#toc-tree span.dynatree-has-children.dynatree-ico-e span.dynatree-icon {
  background: url('tree-images/heading-e.png?13daa347') no-repeat 0 0;
}
#toc-tree span.dynatree-node span.dynatree-icon {
  background: url('tree-images/topic-entry.png?13daa347') no-repeat 0 0;
}
#popup-box {
  background-color: White;
  border-color: #93c3cd;
  border-color: rgba(147,195,205,0.45);
}
#popup-box .content {
  font-family: 'Gill Sans',Arial,sans-serif;
  font-size: 12px;
}
#popup-box .message {
  color: #2c4359;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#popup-box .content a {
  color: #2c4359;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#popup-box .content a:hover {
  color: #2c4359;
  background-color: #93c3cd;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#popup-box .close-icon {
  background-image: url('closeicon.png?13daa347');
}
#popup-box .topicdoc-icon {
  background: url('docicon.png?13daa347') no-repeat center center;
}
#sorting-popup-menu {
  background-color: White;
  background-color: rgba(255,255,255,0.94);
  border-color: #f79646;
  border-color: rgba(247,150,70,0.45);
}
#sorting-popup-menu li.menu-item {
  font-family: 'Gill Sans',Arial,sans-serif;
  font-size: 12px;
  color: #2c4359;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  border-bottom-color: #93c3cd;
}
#sorting-popup-menu li.menu-item.menu-item-hover {
  color: #2c4359;
  background-color: #93c3cd;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#sorting-popup-menu li.menu-item.menu-item-checked span:after {
  background: url('checkmark.png?13daa347') no-repeat 0 0;
}
#sorting-popup-menu li.menu-item.menu-item-checked.menu-item-hover span:after {
  background: url('checkmark.png?13daa347') no-repeat 0 -8px;
}
#sort-control span.caret {
  background: url('caret.png?13daa347') no-repeat 0 0;
}
#toc-tree ul.dynatree-container a {
  font-family: 'Gill Sans',Arial,sans-serif;
  font-size: 10pt;
  color: #2c4359;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#toc-tree ul.dynatree-container a:hover {
  color: #2c4359;
  background-color: #93c3cd;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#toc-tree ul.dynatree-container a:focus, #toc-tree span.dynatree-focused a:link {
  color: #333;
  background-color: #93c3cd;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#toc-tree span.dynatree-active a, #toc-tree span.dynatree-active a:hover {
  color: White !important;
  background-color: #db4865 !important;
  text-decoration: none !important;
  font-style: normal !important;
  font-weight: normal !important;
}
#index-tree ul.dynatree-container a {
  font-family: 'Gill Sans',Arial,sans-serif;
  font-size: 10pt;
  color: #2c4359;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree ul.dynatree-container a:hover {
  color: #2c4359;
  background-color: #93c3cd;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree ul.dynatree-container a:focus, #index-tree span.dynatree-focused a:link {
  color: #333;
  background-color: #93c3cd;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree span.dynatree-active a, #index-tree span.dynatree-active a:hover {
  color: White !important;
  background-color: #db4865 !important;
  text-decoration: none !important;
  font-style: normal !important;
  font-weight: normal !important;
}
#index-tree span.highlight a {
  color: #e1e463;
  background-color: #35414f;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-form {
  border-bottom-color: #93c3cd;
}
#search-result-tree ul.dynatree-container a {
  font-family: 'Gill Sans',Arial,sans-serif;
  font-size: 10pt;
  color: #2c4359;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result-tree ul.dynatree-container a:hover {
  color: #2c4359;
  background-color: #93c3cd;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result-tree ul.dynatree-container a:focus, #search-result-tree span.dynatree-focused a:link {
  color: #333;
  background-color: #93c3cd;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result-tree span.dynatree-active a, #search-result-tree span.dynatree-active a:hover {
  color: White !important;
  background-color: #db4865 !important;
  text-decoration: none !important;
  font-style: normal !important;
  font-weight: normal !important;
}
#search-result-tree span.visited-topic a {
  color: Gray;
  background-color: transparent;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}
#tabs .ui-tabs-panel {
  background: none 0 0 White;
}
.text-label {
  font-family: 'Gill Sans',Arial,sans-serif;
  font-size: 12px;
  color: #2c4359;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result span.se-message {
  font-family: 'Gill Sans',Arial,sans-serif;
  font-size: 12px;
  color: #2c4359;
  background-color: transparent;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}
#tabs.ui-tabs .ui-tabs-nav {
  padding: 8px 0 0 4px;
}
#tabs .ui-widget-header {
  background: url('tabs-header.png?13daa347') repeat center center #f79646;
  border-bottom-color: #2c4359;
}
.ui-tabs .ui-tabs-nav li {
  margin: 0 2px 0 0;
}
#tabs.ui-tabs .ui-tabs-nav li .ui-tabs-anchor {
  padding: 6px 6px;
}
#tabs .ui-widget-header .ui-state-default {
  background: url('tab-regular.png?13daa347') repeat center center #ff6240;
  border-color: #93c3cd;
}
#tabs .ui-widget-header .ui-state-hover {
  background: url('tab-active.png?13daa347') repeat center center #ccd232;
  border-color: #999;
}
#tabs .ui-widget-header .ui-state-active {
  background: url('tab-selected.png?13daa347') repeat center center #db4865;
  border-color: #ff6b7f;
}
#tabs .ui-tabs-nav {
  font-family: 'Gill Sans',Arial,sans-serif;
  font-size: 11px;
}
#tabs .ui-widget-header .ui-state-default a {
  color: #333;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
}
#tabs .ui-widget-header .ui-state-hover a {
  color: #212121;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
}
#tabs .ui-widget-header .ui-state-active a {
  color: White;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
}
#search-form #squery, #tab-index #kwd-search {
  font-family: 'Gill Sans',Arial,sans-serif;
  font-size: 12px;
  color: #2c4359;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  border-color: #93c3cd;
}